name: Video + Audio Stream (Reverse Loop & Audio Protection)

on:
  workflow_dispatch:
  repository_dispatch:
    types: [restart_stream]

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 358 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Start Live Stream
        env:
          STREAM_URL: "rtmp://a.rtmp.youtube.com/live2/k4bv-wakv-50ad-uas6-8rtr"
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          echo "Streaming starting with Reverse Loop and Audio Protection..."
          
          # Filter Explanation:
          # [0:v]split[v1][v2]; [v2]reverse[v2rev]; [v1][v2rev]concat: 
          # Ye video ko pehle seedha chalayega fir ulta (reverse), jisse loop smooth lagega.
          # Audio filters ko 1.04x par rakha hai copyright se bachne ke liye.
          
          ffmpeg -re \
            -stream_loop -1 -i video.mp4 \
            -stream_loop -1 -i audio.mp3 \
            -filter_complex "[0:v]split[v1][v2]; [v2]reverse[v2rev]; [v1][v2rev]concat=n=2:v=1:a=0[vloop]; [1:a]atempo=1.04,asetrate=44100*1.04,aresample=44100[alow]" \
            -map "[vloop]" -map "[alow]" \
            -c:v libx264 \
            -preset veryfast \
            -pix_fmt yuv420p \
            -g 60 \
            -b:v 2500k \
            -c:a aac \
            -b:a 128k \
            -t 05:50:00 \
            -f flv \
            "$STREAM_URL"

          echo "FFmpeg finished. Triggering next workflow..."
          
          curl -X POST \
            -H "Authorization: token $GH_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "restart_stream"}'
