name: Video + Audio Stream (Ultra Copyright Protection)

on:
  workflow_dispatch:
  repository_dispatch:
    types: [restart_stream]

jobs:
  stream:
    runs-on: ubuntu-latest
    timeout-minutes: 358 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install FFmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg

      - name: Start Live Stream
        env:
          STREAM_URL: "rtmp://a.rtmp.youtube.com/live2/k4bv-wakv-50ad-uas6-8rtr"
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          echo "Streaming starting with FULL Video & Audio Protection..."
          
          # Filters Explanation:
          # [0:v] hflip: Video ko mirror (ulta) karega.
          # [0:v] eq: Brightness aur Contrast thoda badal dega.
          # [1:a] atempo=1.04: Speed 4% badhayega.
          # [1:a] asetrate: Pitch thodi high karega.
          
          ffmpeg -re \
            -stream_loop -1 -i video.mp4 \
            -stream_loop -1 -i audio.mp3 \
            -filter_complex "[0:v]hflip,eq=brightness=0.03:contrast=1.1:saturation=1.2[vlow]; [1:a]atempo=1.04,asetrate=44100*1.04,aresample=44100[alow]" \
            -map "[vlow]" -map "[alow]" \
            -c:v libx264 \
            -preset veryfast \
            -pix_fmt yuv420p \
            -g 60 \
            -b:v 2500k \
            -c:a aac \
            -b:a 128k \
            -t 05:50:00 \
            -f flv \
            "$STREAM_URL"

          echo "FFmpeg finished. Triggering next workflow..."
          
          curl -X POST \
            -H "Authorization: token $GH_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/${{ github.repository }}/dispatches \
            -d '{"event_type": "restart_stream"}'
